.page {
    background-image: url('../img/bg.jpg');
    font-family: 'SourceSansPro', sans-serif;
    margin: 0 $body-margin * 2;
    @include respond-to('xs') {
        margin: 0 $body-margin;
    }
    @include respond-to('sm') {
        margin: 0 $body-margin;
    }
}

.page-header {
    nav {
        text-align: center;
        padding-top: 76px;
        padding-bottom: 40px;
        @include respond-to('xs') {
            padding-top: 60px;
            padding-bottom: 20px;
        }
    }
}

.page-content {
    max-width: $content-width;
    width: 100%;
    margin: 97px auto 50px auto;
    .page-content-inner {
        background-color: $content-bg-color;
        border-radius: $border-radius;
        padding: 26px;
        @include respond-to('xs') {
            padding: 15px;
            margin-bottom: 30px;
        }
        @include respond-to('sm') {
            padding: 20px;
            margin-bottom: 30px;
        }
    }
}

.page-main {
    //TODO css rules
}

.page-footer {
    padding-top: 35px;
    text-align: center;
    .text {
        color: $content-color;
        a {
            font-size: 16px;
            text-decoration: none;
            color: $content-color;
            a:hover {
                color: $title-color;
            }
        }
    }
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    .menu-item {
        margin-right: 40px;
        @include respond-to('xs') {
            margin-right: 20px;
        }
        display: inline;
        &:last-child {
            margin-right: 0px;
        }
        a {
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
            display: inline-block;
            color: #909090;
            text-transform: uppercase;
            font-size: 16px;
            line-height: 39px;
            text-decoration: none;
            @include respond-to('xs') {
                margin-bottom: 20px;
            }
            &:hover {
                color: $title-color;
            }
        }
    }
}

.brand-container {
    position: relative;
    .brand-container-inner {
        position: absolute;
        left: 50%;
        width: 260px;
        height: 105px;
        margin-left: -130px;
        top: -76px;
        box-shadow: $border-shadow;
        border-radius: $border-radius;
        background-color: $content-color;
        @include respond-to('xs') {
            width: 200px;
            height: 80px;
            margin-left: -100px;
            top: -58px;
        }
        .name {
            font-family: 'SourceSansPro-Black';
            display: block;
            color: $title-color;
            font-size: 40px;
            line-height: 105px;
            text-align: center;
            text-transform: uppercase;
            @include respond-to('xs') {
                font-size: 30px;
                line-height: 80px;
            }
        }
    }
}

//banner
.banner-container {
    .banner-image {
        width: 100%;
        border-radius: $border-radius;
        box-shadow: $border-shadow;
    }
}

.section-main {
    margin-bottom: 55px;
    margin-top: 55px;
    @include respond-to('xs') {
        margin-bottom: 35px;
        margin-top: 35px;
    }
    .title {
        font-size: 32px;
        color: $title-color;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 15px;
        font-weight: bold;
    }
    .subtitle {
        font-size: 18px;
        text-align: center;
        color: $text-color;
        @include respond-to('xs') {
            br {
                display: none;
            }
        }
        @include respond-to('sm') {
            br {
                display: none;
            }
        }
    }
    .box-container:after {
        content: '';
        display: block;
        clear: both;
    }
}

.section-separator {
    height: 1px;
    background-color: $border-color;
}

#lorem-section {
    .title {
        margin-top: 15px;
    }
}

#vivamus-section {
    & .subtitle {
        margin-bottom: 60px;
        @include respond-to('xs') {
            margin-bottom: 30px;
        }
    }
    .box {
        width: 33%;
        float: left;
        @include respond-to('xs') {
            width: 100%;
        }
        @include respond-to('sm') {
            width: 100%;
        }
        .icon {
            height: 70px;
            width: 70px;
            background-color: $title-color;
            float: left;
            text-align: center;
            color: $content-color;
            line-height: 70px;
            font-size: 26px;
            border-radius: $border-radius;
            box-shadow: $border-shadow;
        }
        .box-content {
            margin-left: 70px;
            padding-left: 30px;
            padding-right: 30px;
            @include respond-to('xs') {
                padding-left: 20px;
                padding-right: 0px;
            }
            .title {
                font-size: 16px;
                text-align: left;
                color: $title-color;
                margin-bottom: 25px;
                font-weight: bold;
                @include respond-to('xs') {
                    margin-bottom: 15px;
                }
            }
            .text {
                font-size: 14px;
                color: $text-color;
                font-weight: normal;
            }
            .link-more {
                margin-top: 30px;
                font-weight: bold;
                @include respond-to('xs') {
                    margin-top: 10px;
                    margin-bottom: 30px;
                }
                a {
                    color: $title-color;
                    font-size: 16px;
                    text-transform: uppercase;
                    text-decoration: none;
                    i {
                        padding-left: 5px;
                        color: $attention-color;
                        font-size: 18px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

#cras-section {
    & .subtitle {
        margin-bottom: 45px;
    }
    .content {
        max-width: 870px;
        width: 100%;
        margin: 0 auto;
    }
    .box {
        float: left;
        width: 270px;
        margin-right: 30px;
        background-color: $box-color;
        border-radius: $border-radius;
        box-shadow: $border-shadow;
        margin-bottom: 30px;
        @include respond-to('xs') {
            width: 100%;
            margin-right: 0px;
        }
        @include respond-to('sm') {
            width: 100%;
            margin-right: 0px;
            margin-bottom: 30px;
        }
        @include respond-to('lg') {
            margin-bottom: 0px;
        }
        &:last-child {
            margin-right: 0;
        }
        .title {
            padding-top: 40px;
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 20px;
            text-align: left;
            font-size: 16px;
            color: $title-color;
            font-weight: bold;
        }
        .image-container {
            img {
                width: 100%;
            }
        }
        .text {
            font-size: 14px;
            color: $text-color;
            padding-top: 30px;
            padding-left: 30px;
            padding-right: 30px;
        }
        .link-more {
            margin-top: 30px;
            padding-left: 30px;
            padding-right: 30px;
            margin-bottom: 30px;
            font-weight: bold;
            a {
                color: $title-color;
                font-size: 16px;
                text-transform: uppercase;
                text-decoration: none;
                i {
                    padding-left: 5px;
                    color: $attention-color;
                    font-size: 18px;
                    font-weight: bold;
                }
            }
        }
    }
}

#nunc-section {
    .product-title {
        margin-top: 25px;
        margin-bottom: 35px;
        font-size: 16px;
        color: $attention-color;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }
    .content {
        text-align: center;
    }
    .read-more-container {
        margin-bottom: 40px;
    }
}

.btn {
    font-size: 16px;
    border: 1px solid #bfbfbf;
    padding: 12px 14px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    display: inline-block;
    &.btn-product {
        color: $title-color;
        text-transform: uppercase;
        background-color: $content-color;
        text-decoration: none;
        box-shadow: -5px 5px 0px 0px rgba(0, 0, 0, 0.1);
        margin-right: 11px;
        margin-bottom: 11px;
    }
}

.read-more-container {
    margin-top: 60px;
    margin-bottom: 60px;
    position: relative;
    padding: 10px 0;
    @include respond-to('xs') {
        margin-bottom: 35px;
        margin-top: 35px;
    }
    .line {
        height: 1px;
        background-color: $border-color;
        margin-bottom: 7px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .btn-container {
        position: absolute;
        left: 50%;
        width: 150px;
        margin-left: -75px;
        top: -5px;
        background-color: $content-color;
        text-align: center;
        .btn-read-more {
            background-color: $attention-color;
            color: $content-color;
            font-size: 16px;
            text-transform: uppercase;
        }
    }
}